body{
    background-color: #383e42;
    font-family: 'Merriweather', serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.int_bee{
    border: 1px solid black;
    margin-top: 10%;
}
.int_bee:hover{
    background-color: gray;
}
ul li a{
    color: white;
    text-align: center;
    text-decoration: underline;
}
ul li a:hover{
    background-color: white;
    color: black;

}
button{
    margin-left: 2%;
}